html, body, h1 {
  margin: 0;
  padding: 0;

}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

  .banner::before{
    position: absolute; 
    width: 100%;
    height: 600px;
    content: '';
    background: linear-gradient(to right, black, transparent);
}

.banner_contents{
  color: white;
  width: 70%;
  padding-left: 100px;
  /* height: 100%; */
  /* background-color: blueviolet; */
  /* padding-top: 100px; */
  z-index: 99;
  /* text-align: center; */
}

.home_wrapper{
  display: flex;
  flex-direction: column;
  background-color: black;
  /* height: 100vh; */
  width: 100vw;
  color: white;
}

.movie_card {
  width: 300px;
  height: 200px;
  /* border: 1px solid white; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  /* padding: 10px; */
  cursor: pointer;

}

.movie_card_overview {
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.overlay{
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(43,41,41,0.9);
  border-radius: 15px;
  padding: 10px;

}

.movie_card:hover .overlay {
  opacity: 1;
}